html {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
    background-color: #1b1b1b;
}

#header {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#tag-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tag {
    color: #80f398;
    font-size: 2.75rem;
}

.bracket {
    color: rgb(255, 255, 255, .20);
    font-size: 2.75rem;
    font-weight: bold;

}

.button {
    font-family: inherit;
    font-size: 24px;
    background-color: #1b1b1b;
    border: 2px solid #80f398;
    color: #80f398;
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 500ms all ease-in-out;
}

.button:hover {
    background-color: #80f398;
    color: #1b1b1b;
}

.button:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 3px #80f398 ;
}

#random-element-container {
    display: none;
}

.hide {
    display: none;
}
