html {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
    background-color: #1b1b1b;
}

#header {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#tag-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tag {
    color: #80f398;
    font-size: 2.75rem;
}

.bracket {
    color: rgb(255, 255, 255, .20);
    font-size: 2.75rem;
    font-weight: bold;
}

#random-element-container {
    display: none;
}

.hide {
    display: none;
}
